body{
	text-align:center;
	
}

article.txt {
    font-family: "Microsoft YaHei", Sans-Serif;
	font-weight : 400;
	font-size: 200%;
	text-align:left;
	height:200px;
	border:0px;
	background:none;
	line-height: 1.3em;
	letter-spacing:0px;
	color:rgba(0, 0, 0, 0.7);
	vertical-align:middle;
	display:table-cell;
}

div.txt{
	text-align:center;
	margin:auto;
	width:
	display:table;
	z-index:5;
	position:relative;
	padding-left:28%;
	padding-right:28%;
}

.block{

	width:100%;
	margin:auto;
	margin-top:3%;
	margin-bottom:3%;
	text-align:center;
	overflow:hidden;
	background-image:url('bg/bg102.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
}


.img1{
	width:100%;
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
}


#text{
	margin-top:3%;
	margin-bottom:3%;
	width:100%;

}
@media (min-width:980px){
	.block{

		width:960px;

	}
}

@media (max-width:980px){
	article.txt {

		font-size: 180%;

	}
}

@media (max-width:900px){
	article.txt {

		font-size: 160%;

	}
}

@media (max-width:800px){
	article.txt {

		font-size: 150%;

	}
}

@media (max-width:750px){
	article.txt {

		font-size: 130%;

	}
}

@media (max-width:700px){
	article.txt {

		font-size: 110%;

	}
}

@media (max-width:650px){
	article.txt {

		font-size: 100%;

	}
}


@media (max-width:600px){
	article.txt {

		font-size: 90%;

	}
}